@{
    ViewData["Title"] = "Home Page";
}
@model Chef;
<div>
    <a>Chefs</a>
    <a>Dishes</a>
    <a>Add a Chef</a>
    <a>Add a Dish</a>
</div>

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>