@{
    ViewData["Title"] = "Home Page";
}
@model List<Chef>;
<link rel="stylesheet" href="~/css/styles.css">
<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="link-offset-2 navContainer">Chefs</a>
    <a asp-controller="Home" asp-action="Dishes" class="link-offset-2 navContainer">Dishes</a>
    <a asp-controller="Home" asp-action="Chef" class="link-offset-2 navContainer">Add a Chef</a>
    <a asp-controller="Home" asp-action="Dish" class="link-offset-2 navContainer">Add a Dish</a>
</div>

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>
</div>
<div class="containerTable">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Chef chef in Model)
            {
                <tr>
                    <td>@chef.FirstName @chef.LastName</td>
                    <td>
                        @{
                            if (chef.DateOfBirth != null)
                            {
                                var today = DateTime.Today;
                                var age = today.Year - chef.DateOfBirth.Year;

                                if (chef.DateOfBirth.Date > today.AddYears(-age)) age--;

                                @age
                            }
                            else
                            {
                                <text>No Date of Birth</text>
                            }
                        }
                    </td>
                    <td>@chef.AllDishes.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>